{% extends "layout.html" %}
{% block title %} index {% endblock %}
{% block content %}
<h2>Enter Patient Particulars to search against</h2>
<form id="pat-particulars" method="post" action="{{ url_for('do_levenshtein_search') }}">
    <table>
        <tr>
            <td>Given name:</td> <td><input type="text" name="given_name"></td>
        </tr>
        <tr>
            <td>Middle name:</td> <td><input type="text" name="middle_name"></td>
        </tr>
        <tr>
            <td>Family name:</td> <td><input type="text" name="family_name"></td>
        </tr>
        <tr>
            <td>District:</td> <td><input type="text" name="district"></td>
        </tr>
        <tr>
            <td>County:</td> <td><input type="text" name="county"></td>
        </tr>
        <tr>
            <td>Sub_county:</td> <td><input type="text" name="sub_county"></td>
        </tr>
        <tr>
            <td>Parish:</td> <td><input type="text" name="parish"></td>
        </tr>
        <tr>
            <td>Village:</td> <td><input type="text" name="village"></td>
        </tr>
        <tr>
            <td>Birth date:</td> <td><input type="date" name="birth_date"></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <select name="gender">
                    <option>M</option>
                    <option>F</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Telephone Number:</td> <td><input type="text" name="tel_no"></td>
        </tr>
        <tr>
            <td>Treatment Supporter Telephone Number:</td> <td><input type="text" name="supp_tel_no"></td>
        </tr>
        <tr>
            <td>First Encounter Date:</td> <td><input type="date" name="first_enc_date"></td>
        </tr>
        <tr>
            <td>ART Start Date:</td> <td><input type="date" name="art_start_date"></td>
        </tr>
        <tr>
            <td></td> <td><input type="submit" value="search"></td>
        </tr>
    </table>
</form>
{% endblock %}