<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%block title %}{% endblock%}</title>
        <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    </head>
    <body>
        <div class="header" id="header">
            <h1>
                Levenshtein-based Patient Search Engine
            </h1>
        </div>

        <div id="content">
            {% block content %} {% endblock %}
        </div>
        
        <div>
        <footer> {% extends "fragments/footer.html" %}</footer>
        </div>
    </body>
</html>